# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


*.directory
*ssshtest
*.nextflow.log*
*.brename_detail.txt
*/Rplots.pdf

*cpu.pprof
*mem.pprof
*trace.out

# taxonomy
!demo-profiling/*.dmp
demo-profiling/mock/*
demo-profiling/opal/
kmcp/*.dmp

# binary and html
kmcp/kmcp*
kmcp/binaries*
kmcp/refs
site

# data
t_*
*.kmcp
# data
!demo-profiling/*.fastq.gz
kmcp/*.fastq.gz
*.kmcp.gz
mix*.kmcp.gz*
refs-*
*.unik
_info.txt
t0.gz
t.gz
*.binning.gz

analysis/kmer-similarity/*/all.n*
analysis/kmer-similarity/*/*.fasta
analysis/kmer-similarity/*/*.gz
analysis/*/tool-*

analysis/genome-chunks/opal2
analysis/genome-chunks/*.profile*

kmer-similarity

taxdump
taxid.map
name.map
